.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.5rem;
  background-color: white;
}
.header .pcMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}
.header .pcMenu li {
  position: relative;
  top: 10px;
  margin: 0;
  margin-left: 1.5rem;
  font-size: 1.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.header .pcMenu li:hover {
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 2px solid #6279b8;
}
@media only screen and (max-width: 560px) {
  .header .pcMenu {
    display: none;
  }
}
.header .spMenu {
  display: none;
}
@media only screen and (max-width: 560px) {
  .header .spMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .spMenu .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .spMenu .menuBtn:hover {
    opacity: 0.5;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  .header .spMenu ul.menu {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header .spMenu ul.menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10%;
    background: white;
    border-radius: 10px;
    opacity: 0.95;
    z-index: 1000;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header .spMenu ul.menu li {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2.5em;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
  }
  .header .spMenu ul.menu li:hover {
    background: #6279b8;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .spMenu ul.menu li:hover a {
    color: white;
    cursor: pointer;
  }
  .header .spMenu ul.menu li a:hover {
    color: white;
  }
  .header .spMenu ul.menu .cancel {
    margin: 5vh 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header .spMenu ul.menu .cancel:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    cursor: pointer;
  }
}
.header .icon {
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .icon:hover {
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (max-width: 560px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=Header.module.css.map */