
$main-color-1: #6279b8;
$main-color-2: #4c9f70;
$main-color-3: #49516f;
$main-color-4: #496f5d;
$back-color: #e8e8e8;

$media-break: 560px;

@mixin spQuery {
    @media only screen and (max-width: $media-break){
        @content ;
    }
}

