@use "util";

.top{
    *{
        text-align: center;
    }
    main{
        // padding: 2rem 0;
        .title{
            margin: 1rem 0;
            @include util.spQuery{
                // transform: rotate(-7deg);
            }
        }
        .circle{
            border-radius: 50%;
        }
    }
}

